// styles.scss

@import "~bootstrap/scss/bootstrap";

body {
    background-color: #f8f9fa;
}

.container {
    max-width: 800px;
    margin-top: 50px;
}

#content {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.highlight {
    background-color: rgba(152, 251, 152, 0.5);
    display: inline;
}

.selection-icon {
    display: none;
    position: absolute;
    color: #007bff;
    cursor: pointer;
    font-size: 20px;
    padding: 5px;
    background-color: white;
    border: 1px solid #007bff;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;

    i {
        vertical-align: middle;
    }
}

.selectable-text {
    position: relative;
}

.popover {
    position: absolute;
    z-index: 1060;
    max-width: 276px;
    font-family: var(--bs-font-sans-serif);
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    letter-spacing: normal;
    word-break: normal;
    word-spacing: normal;
    white-space: normal;
    line-break: auto;
    font-size: 0.875rem;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.3rem;
}
